<div class="container">
<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <h2><%= post.title %></h1>
    <h4>posted by <%= link_to post.user.name, user_path(post.user) %>
    <h6><%= pluralize(post.views, "view") %></h6>
  </p>

  <div>
  <p>
    <%= post.body %>
  </p>
  </div>

</div>
</div>
