<nav class="navbar navbar-custom navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "ZillaBlog", root_path, class:'navbar-brand yellow-text' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color: #ffd21d;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:'nav-link yellow-text' %>
        </li>
        <li class="nav-item">
        <%= link_to "Posts", posts_path, class:'nav-link yellow-text' %>
        </li>
        <li class="nav-item">
        <%= link_to "About", about_path, class:'nav-link yellow-text' %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <%= render 'search/form' %>
        <%= render 'layouts/notifications' %>
        <%= render 'user/session_manager' %>
      </ul>
    </div>
  </div>
</nav>